page-fixtures {
  .cardFixture{
      text-align: center;

      ion-label{
        border: 1px solid lightgray;
        border-radius: 15px;
        background: url(/assets/imgs/fixtureBackground.jpg) no-repeat center;
        background-size: cover;

        .fixtureBody{
          height: 145px;
          color: #fff;

          .imgContainer{
            height: 100px;
            position: relative;

            img{
              height: 60px;
              width: 60px;
              border: 1px solid #fff;
              border-radius: 40px;
              position: absolute;
              top: 37%;
              left: 25%;
              overflow: hidden;
              object-fit: cover;
            }

          }

          .divider{
            display: inline-table;
            width:33%;
            height: 100%;
            float:left;

            .vs{
              display: table-cell;
              vertical-align: middle;
            }
            .label{
              text-align: center;
            }
          }
        }
        .fixtureFooter{
          padding:10px;
          height: 40px;
          color: #fff;
        }
      }
  }

}
